@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,900;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

body{
  font-family: "Raleway", sans-serif, cursive;
  background-color: rgb(179, 178, 178);
  height: 100vh;
  
}  

header {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.466);
    
    
}

.menu{
  display: flex;
  flex-flow: row wrap; /*Tornando responsivo*/
  text-decoration: none;

}

li{
  list-style: none; /*retirando as bolinhas do menu*/
}



a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
    padding: 15px;
    flex-flow: wrap;
    margin: 0;
    
    
}
  
a:hover {
    opacity: 0.7;
    color: rgb(173, 209, 88);
    transition: 0.5s;
    border-radius: 7px;  
}
  
  
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Raleway", sans-serif, cursive;
    font-weight:500;
    background: #23232e;
    height: 12vh; /*vh é uma unidade responsiva que se adapta a altura da janela do usuário*/
    flex-flow: row wrap; /*tornando o nav responsivo*/
    

}




main{ /*estilos do main, conteúdo do site*/
  background-color: white; /*cor do fundo do main*/
  min-width: 300px; /*respondividade minima do main (do conteúdo). Quando tiver 300 pixels ele se adapta*/
  max-width: 1000px; /*responsividade máxima do main (do conteúdo). Quando tiver 1000 pixels ele para de crescer*/
  margin: auto; /*centralizar o main*/
  padding: 20px; /*o conteudo vai desgrudar um pouco do main*/
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* sombra no main de zero de deslocamento horizontal e vertical, 10 pixels de espalhamento, preto*/
  margin-bottom: 30px; /*essa margem embaixo não vai deixar o main que o conteúdo principal colar no footer que é o rodapé*/
  border-radius: 0px 0px 10px 10px; /*arredondamento das bordas de baixo do main*/
}

.img1{
    display: block; /*centralizando a imagem*/
    margin-left: auto;/*centralizando a imagem*/
    margin-right: auto;/*centralizando a imagem*/
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.466);
    max-width: 100%; /*deixando a imagem resposiva*/

}

footer{ /*estilos do rodapé*/
  background-color: #23232e; /*cor do fundo do rodapé*/
  color: white; /*cor da letra do rodapé*/
  text-align: center; /*centralizando o rodape*/
  padding: 5px 0px; /*para dar uma engordadinha nele por cima e por baixo*/
  font-size: 0.8em; /*tamanho da letra*/
}

